#ident{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width:55%;
    height:156px;
    border:0px solid rgba(10, 131, 169, 0.93);
    padding:10px;
}

#t_iden{
    background-color: rgba(255, 255, 255, 0.79);
    width:98%;
    height:98%;
    border:0px solid rgba(10, 131, 169, 0.93);
    padding:10px;
}
.user {
    margin: auto;
    color: dodgerblue;
}