@charset "utf-8";
* 						{margin: 0; padding: 0;}
body					{font: 16px Georgia, serif; color: black;}

#page-wrap				{margin: auto; color: #000000; width: 80%; height: 80%;}
#page-wrap >.main 		{border: 0px solid #000000;
						 margin-bottom: 0px; margin-left: 15%; color: black;}

section > div			{padding: 5px; height: 100%/*400px*/;}
header, nav, section	{background: #ffffff; text-align: center; border: 0px solid #000000;}
footer					{background: #FFFFFF/*#eee*/; text-align: center;}
nav span             	{ margin: 0px 10px 0px 0px; width: 100%; display: inline-block;}
#ErrorMsgs          	{ color: #f61; font-size: smaller}